
<form action="password">
    <h1>Generador de contraseñas</h1>
    <label for="length">Selceciona la longitud de la contraseña</label>
    <select name="length" id="length">
        <option value="6">6 caracteres</option>
        <option value="7">7 caracteres</option>
        <option value="8">8 caracteres</option>
        <option value="9">9 caracteres</option>
        <option value="10">10 caracteres</option>
        <option value="11">11 caracteres</option>
        <option value="12">12 caracteres</option>
        <option value="13">13 caracteres</option>
    </select>
    <label for="Uppercase">Uppercase</label>
    <input type="checkbox" name="uppercase" id="uppercase">
    <button>Generar contraseña</button>
</form>